html {
  position: relative;
  min-height: 100%;
}
body {
    width: 100%;
    height: 100%;
    /*font-family: 'Ubuntu', sans-serif;*/
    /*color: #10222B;*/
    background-color: #E8E8E8;
    background-image: url(../../images/paper-2.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: repeat-y;
    margin-bottom: 70px;
    padding-top: 70px;
}
a{
  /*color: #8D9C63;*/
  transition: all 0.3s;
}
a:hover{
  /*color: #9DB459;*/
  text-decoration: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #fff;
}
.footer .footer-custom{
  padding: 10px 0 0;
}
.fa-usd{
  color:#0F8F32;
}
.fa-eur{
  color:#0081FF;
}
.fa-oro{
  color: #EEAF33;
}
.fa-btc{
  color: #D57100;
}
.form-control:focus {
  border-color: #888;
  outline: none;
  box-shadow: none;
}
.dropdown-menu{
  box-shadow: 0 2px 2px -1px #888;
}
.btn{
  border-radius: 2px;
}
.realizado{
  font-weight: bold;
}
.select-monto{
  width: 35%;
}
.asiento{
  background-color: #e0e0e0;
  padding: 0px 0px 2px;
  border: 2px solid #969696;
  border-radius: 5px;
  margin-bottom: 20px;
}
.titulo{
  text-align: center;
}
.sin-borde{
  border-bottom: 1px solid #0000 !important;
}
.sin-borde-left{
  border-left: 1px solid #0000 !important;
}
.borde-arriba{
  border-top: 3px solid #ddd !important;
}
.borde-abajo{
  border-bottom: 3px solid #ddd !important;
}
.borde-izquierda{
  border-left: 3px solid #ddd !important;
}
.borde-derecha{
  border-right: 3px solid #ddd !important;
}
.total-tabla{
  font-weight: bold;
  border: 3px solid #ddd !important;
}
.total-tabla-sin{
  font-weight: bold;
}
.custom-table{
  background-color: #fff;
}

.mayor{
  background-color: #fff;
  border: 2px solid #969696;
  border-radius: 5px;
  padding: 0px 17px 0px;
  margin-top: 20px;
}
.mayor-table{
  text-align: center;
}
.mayor-debe{
  border-right: 2px solid grey !important;
  border-left: hidden !important;
  border-bottom: 2px solid grey !important;
  border-top: hidden !important;
  text-align: center;

}
.mayor-haber{
  border-top: hidden !important;
  border-right: hidden !important;
  border-bottom: 2px solid grey !important;
  text-align: center;

}
.mayor-total-debe{
  font-weight: bold;
  border-right: 2px solid grey !important;
  border-left: hidden !important;
  border-bottom: hidden !important;
  border-top: 2px solid grey !important;

}
.mayor-total-haber{
  font-weight: bold;
  border-top: 2px solid grey !important;
  border-right: hidden !important;
  border-bottom: hidden !important;

}
.mayor-derecha{
  border-right: hidden !important;
}
.mayor-izquierda{
  border-left: hidden !important;
  border-right: 2px solid grey !important;
}
.navbar-brand{
  color: #ce0000 !important;
}
.navbar-brand:hover{
  color:red !important;
}
.titulo .fa-film{
  color:red;
}
h5.titulo{
  margin-bottom: 60px;
}
